@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
  font-family: 'Uni Sans Heavy CAPS';
  src: url('../fonts/UniSansHeavyCAPS.woff2') format('woff2'),
    url('../fonts/UniSansHeavyCAPS.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Uni Sans Heavy CAPS';
}

:root {
  --lightest-green: #5ccc11;
  --dark-green: #0e4f1f;
  --light-dark: #292522;
  --dark: #1c1917;
  --darkest: #000000;
  --white-highlight: #f9f9f9;
  --light-grey: #ccc;
  --grey-grey: #595959;
  --highlight-color: #fa923f;
  --highlight-light-color: #fbc79e;
  --highlight-cyan: #8df7e6;
  --highlight-danger-color: #ff0000;
  --highlight-red: #ff5454;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  background-color: var(--dark);
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@supports (display: grid) {
  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3.5rem auto fit-content(8rem);
    grid-template-rows: 3.5rem auto fit-content(8rem);
    height: 100%;
    padding-top: 0;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  transition: margin-left 1s;
  grid-area: main;
}

.backdrop {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0;
  display: none;
}

.main-header {
  background-color: var(--darkest);
  padding: 0.125rem 0.5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  display: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background-color: var(--white-highlight);
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand svg {
  vertical-align: middle;
}

.main-header-corporate-brand {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}

.main-header-corporate-brand h1 {
  font-family: 'Uni Sans Heavy CAPS';
  font-size: 1.2rem;
  color: var(--white-highlight);
}

.main-header-corporate-brand span {
  font-family: 'Uni Sans Heavy CAPS';
  font-size: 3rem;
  color: var(--white-highlight);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: var(--white-highlight);
  font-weight: bold;
  padding: 0.1875rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: var(--white-highlight);
  border-bottom: 5px solid var(--white-highlight);
}

.main-nav__item--cta {
  margin-right: 0.1rem;
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 0.3s infinite alternate;

  -webkit-animation-iteration-count: 6;
  -moz-animation-iteration-count: 6;
  animation-iteration-count: 6;
}

.main-nav__item--cta a {
  color: var(--white-highlight);
  background: var(--highlight-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: var(--highlight-color);
  background: var(--white-highlight);
  border: none;
}

.footerprincipal {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  background: var(--darkest);
  color: var(--white-highlight);
  width: 100%;
  margin-top: 3rem;
  padding-top: 1rem;
  grid-area: footer;
  bottom: 0;
}

.signature {
  position: relative;
  overflow: hidden;
}

.signature p {
  cursor: default;
  margin: 0;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: slide-left-signature 9.5s linear infinite;
  -webkit-animation: slide-left-signature 9.5s linear infinite;
  animation: slide-left-signature 9.5s linear infinite;
}

.signature span {
  font-family: 'Montserrat';
}

.footerprincipal__links {
  list-style: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footerprincipal__link {
  margin: 0 3rem;
}

.footerprincipal__link a {
  color: var(--white-highlight);
  text-decoration: none;
}

.footerprincipal__link a:hover,
.footerprincipal__link a:active {
  color: var(--light-grey);
}

.footerprincipal p {
  text-align: right;
}

.button {
  background-color: var(--darkest);
  color: var(--white-highlight);
  font: inherit;
  border: 1.5px solid var(--darkest);
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:active {
  background: var(--white-highlight);
  color: var(--darkest);
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: var(--grey-grey);
  background: var(--light-grey);
  color: var(--grey-grey);
}

.open {
  display: block !important;
  opacity: 1 !important;
}

.open-modal {
  display: block !important;
  opacity: 1 !important;
  background: var(--white-highlight) !important;
}

.selected a {
  color: var(--grey-grey);
  pointer-events: none;
}

.reveal-upwards {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal-upwards.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal-sideways {
  position: relative;
  transform: translateX(-300px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal-sideways.active {
  transform: translateY(0);
  opacity: 1;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: var(--light-dark);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--white-highlight);
  display: block;
  transition: 0.3s;
}

.sidebar a.selected {
  color: var(--grey-grey);
  pointer-events: none;
  background: none !important;
}

.sidebar a:hover {
  color: var(--highlight-color);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#get-started-link {
  width: 50%;
  text-align: center;
  margin-left: 1.5rem;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 8px;
  background: var(--highlight-color);
}

#get-started-link:hover {
  color: var(--darkest);
}

@media (max-width: 40rem) {
  .main-nav {
    display: none;
  }

  .toggle-button {
    display: inline-block;
  }

  .footerprincipal {
    width: 100%;
  }

  .footerprincipal__links {
    list-style: none;
    position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footerprincipal__link {
    margin-top: 3rem;
  }
}

@media (max-width: 647.43px) {
  .main-nav__item--cta a,
  .mobile-nav__item--cta a {
    color: var(--white-highlight);
    background: var(--highlight-color);
    padding: 0.5rem;
    border-radius: 8px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.1);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.1);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.1);
  }
}

@-moz-keyframes slide-left-signature {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes slide-left-signature {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes slide-left-signature {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
