.testimonial {
  font-size: 1.2rem;
  padding: 0 20px;
}

.testimonial:first-of-type {
  margin-top: 3rem;
}

.testimonial__image-container {
  width: 100%;
  max-width: 40rem;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  transform: skew(6deg);
  overflow: hidden;
}

#customer-1:hover .testimonial__image-container {
  animation: flip-customer 1.3s ease-out forwards;
}

#customer-2:hover .testimonial__image-container {
  animation: flip-customer 1.3s ease-out forwards;
}

#customer-3:hover .testimonial__image-container {
  animation: flip-customer 1.3s ease-out forwards;
}

#customer-1:active .testimonial__image-container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#customer-2:active .testimonial__image-container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#customer-3:active .testimonial__image-container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.testimonial__image {
  width: 100%;
  vertical-align: top;
  transform: skew(6deg);
  transform: scale(1);
  -webkit-backface-visibility: hidden;
}

.testimonial__info {
  text-align: right;
  padding: 0.9rem;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  margin: 0.2rem;
  color: var(--highlight-red);
  text-align: justify;
  cursor: default;
  font-size: 2.5rem;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Montserrat';
  text-align: justify;
  margin-bottom: 12px;
  cursor: default;
  color: var(--light-grey);
}

.testimonial__subtitle a {
  color: inherit;
  font-family: 'Montserrat';
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: var(--white-highlight);
}

.testimonial__text {
  margin: 0.2rem;
  text-align: justify;
  font-family: 'Montserrat';
  color: var(--white-highlight);
  cursor: default;
}

@keyframes flip-customer {
  0% {
    transform: rotateY(0) skew(6deg);
  }

  50% {
    transform: rotateY(160deg) skew(6deg);
  }

  100% {
    transform: rotateY(360deg) skew(6deg);
  }
}

@media (min-width: 40rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 0 20px;
  }

  .testimonial__image-container {
    width: 60%;
  }

  .testimonial__info {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }
}

@media (max-width: 638.29px) {
  #customer-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .testimonial__text {
    text-align: left;
  }
}
