body {
  font-family: 'UniSans';
}

main {
  padding-top: 1rem;
}

.signup-container {
  border: 3px solid var(--white-highlight);
  width: calc(100% - 50px);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s ease-in;
}

.signup-controls {
  width: calc(100% - 200px);
  min-width: 200px;
  display: flex;
  margin: 0 auto;
}

.signup-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.signup-title {
  text-align: center;
  cursor: default;
  font-size: 1.8rem;
  color: var(--white-highlight);
}

.signup-title {
  margin-top: 2rem;
}

.signup-form label {
  font-weight: bold;
  color: var(--white-highlight);
}

.signup-form input,
select,
option {
  display: block;
  font-family: 'Montserrat';
}

.signup-form label {
  margin-bottom: 0.5rem;
  text-align: justify;
}

.signup-form input,
.signup-form select {
  display: block;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.75rem;
}


.signup-form input.blurred {
  border: 2px solid var(--lightest-green);
}

.signup-form input[id*='terms'],
.signup-form input[id*='terms'] + label {
  display: inline-block;
  vertical-align: middle;
}

.signup-form input:not([type='checkbox']),
.signup-form select {
  font: 'Montserrat';
}

.signup-form input:focus {
  outline: none;
  background-color: var(--white-highlight);
  border: 2px solid var(--highlight-color);
}

.signup-form input.blurred:invalid {
  background: var(--highlight-light-color);
  border: 2px solid var(--highlight-danger-color);
}

.button-control {
  display: flex;
  justify-content: center;
}

.signup-form button[type='submit'] {
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: block;
}

.signup-form__checkbox label {
  text-align: justify;
}

.signup-checkbox-controls {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#agree-terms a:hover {
  color: var(--white-highlight);
}

#signupButton:valid {
  background-color: var(--highlight-color);
  color: var(--darkest);
  animation: bounce 0.3s alternate ease-out 4;
}

#dummy-message {
  color: var(--white-highlight);
}

#dummy-message {
  cursor: default;
}

#dummy-message span {
  color: var(--highlight-color);
}

.round {
  position: relative;
}

.round label {
  background-color: var(--white-highlight);
  border: 1px solid var(--light-grey);
  text-align: justify;
  border-radius: 5px;
  cursor: pointer;
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.signup-checkbox-controls label a {
  text-decoration: none;
  font-weight: bold;
  color: var(--grey-grey);
}

.round label:after {
  border: 2px solid var(--white-highlight);
  border-top: none;
  border-right: none;
  content: '';
  height: 2px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type='checkbox']:checked + label {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.round input[type='checkbox']:checked + label:after {
  opacity: 1;
}
